ul.reg_list ol{
    margin: 10px 0 10px 0;
}

ul.reg_list ol textarea{
    max-width: 300px;
    max-height: 200px;
}

table{
    border-collapse: collapse;
    width: 1000px;
    height: 600px;
}

tr{
    border : 1px solid black;
    width: 1000px;
}

td{
    border : 1px solid black;
    height: 50px;
    width: 200px;
}

th{
    background-color: grey;
    border : 1px solid black;
    height: 50px;
    width: 200px;
}

.testText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
}